# Ignore the logs directory
logs/
*.log

# Ignoring git and cache folders
.git
.cache

# Ignoring all the markdown, docker kubernetes files
**/*.md
**/*yml
Dockerfile
**/boop-secret.yaml
*yaml

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
server/data/

# misc
**/.env
.scss
.css
.DS_Store
**/.env.sample

**/package-lock.json
**/yarn.lock