# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*swp

config.json
.env*

# macOS
.DS_Store

# production
build/
server/data

# kubernetes
boop-secret.yaml
*kubeconfig*.yaml

# misc
.scss
.css
*.log
yarn.lock