apiVersion: v1
kind: Secret
metadata:
  name: boop-secrets
data:
  GOOGLE_CLIENT_ID: Insert-encoded-Google-client-id-here
  GOOGLE_CLIENT_SECRET: Insert-encoded-Google-client-secret-here
  TOKEN_SECRET: Insert-encoded-token-secret-here

  DB_NAME: Insert-encoded-database-name-here
  DB_USERNAME: Insert-encoded-database-user-here
  DB_PASSWORD: Insert-encoded-database-user-password-here
  DB_HOST: Insert-encoded-the-host-name-for-database-here
  DB_PORT: Insert-encoded-database-port-here