NODE_ENV=production

GOOGLE_CLIENT_ID=< Google client Id goes here >
GOOGLE_CLIENT_SECRET=< Google client secret goes here >

FACEBOOK_CLIENT_ID=< Facebook client Id goes here >
FACEBOOK_CLIENT_SECRET=< Facebook client secret goes here >

TOKEN_SECRET=< random secret string goes here > e.g TOKEN_SECRET=asjkhdj4589hjkdsfni384989jkalsn983jklsndas56

DB_NAME=<database-name goes here >
DB_USERNAME=<database-user goes here >
DB_PASSWORD=<database-password goes here >
DB_HOST=<database-host goes here > e.g = 127.0.0.1
DB_PORT=<database-port here> e.g. 5432

HOME_URL=<home url goes here >