NODE_ENV = development

GOOGLE_CLIENT_ID = < Google client Id goes here >

GOOGLE_CLIENT_SECRET = < Google client secret goes here >

FACEBOOK_CLIENT_ID = < Facebook client Id goes here >

FACEBOOK_CLIENT_SECRET = < Facebook client secret goes here >

TOKEN_SECRET = < random secret string goes here > e.g TOKEN_SECRET =  asjkhdj4589hjkdsfni384989jkalsn983jklsndas56