NODE_ENV=development

GOOGLE_CLIENT_ID=< Google client Id goes here >
GOOGLE_CLIENT_SECRET=< Google client secret goes here >

FACEBOOK_CLIENT_ID=< Facebook client Id goes here >
FACEBOOK_CLIENT_SECRET=< Facebook client secret goes here >
TOKEN_SECRET=< random secret string goes here > e.g TOKEN_SECRET =  asjkhdj4589hjkdsfni384989jkalsn983jklsndas56

DB_NAME=<database-name goes here >
DB_USERNAME=<database-user goes here >
DB_PASSWORD=<database-password goes here >
DB_HOST=<database-host goes here >

HOME_URL=<home url goes here > e.g. = http://localhost:3000
FACEBOOK_CALLBACK_URL=<facebook callback url goes here > e.g.  = http://localhost:5000/api/login/auth/facebook/callback
GOOGLE_CALLBACK_URL=<google callback url goes here > e.g.  = http://localhost:5000/api/login/auth/google/callback

USER_INFO_EMAIL=<your-email-before-@gmail.com> ONLY NEEDED FOR TESTING
USER_INFO_FIRST_NAME=<you-first-name>  ONLY NEEDED FOR TESTING
USER_INFO_LAST_NAME=<you-last-name>  ONLY NEEDED FOR TESTING