@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

//primary colors
$clr-primary-1: #cfcfd1;
$clr-primary-2: #9f9fa2;
$clr-primary-3: #6f6e74;
$clr-primary-4: #3f3e45;
$clr-primary-5: #0f0e17;
//orange colors
$clr-orange-1: #ffe7cd;
$clr-orange-2: #ffd09b;
$clr-orange-3: #ffb86a;
$clr-orange-4: #ffa138;
$clr-orange-5: #ff8906;
//puple colors
$clr-purple: #7f5af0;

$clr-text: #a7a9be;

$clr-white: #fff;
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
