/* google button */

button.google {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    opacity: 0.6;
}

button.google div {
    margin-right: 10px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 10px;
    border-radius: 2px;
}

button.google span {
    padding: 10px 10px 10px 0px;
    font-weight: 500;
}

/* end google button */

/* facebook button */
span.facebook {
    transition: opacity 0.5s ease 0s;
}

button.facebook {
    border-radius: 0;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
    text-align: center;
}

button.facebook:hover {
    color: #4c69ba;
    background-color: white;
}

/* end facebook button */

/* twitter button */

button.twitter {
    border: #0f9afb 1px solid;
    border-radius: 9999px;
    padding: 8px 15px;
    background: white;
    color: #0f9afb;
}

button.twitter:hover {
    color: white;
    background-color: #0f9afb;
    font-weight: bold;
}

/* end twitter button */

button.twitter:hover, button.google:hover, button.facebook:hover {
    cursor: pointer;
}