/* google button */

button.google {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 12px 10px;
    border-radius: 9999px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

button.google:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 6px 0px;
}

button.google svg {
    margin-right: 15px;
}

button.google span {
    font-weight: 500;
}

/* end google button */

/* facebook button */

button.facebook {
    background-color: #4c69ba;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: #4c69ba 0px 2px 2px 0px, #4c69ba 0px 0px 1px 0px;
    padding: 12px 10px;
    border-radius: 9999px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

button.facebook:hover {
    box-shadow: #4c69ba 0px 2px 2px 0px, #4c69ba 0px 0px 6px 0px;
}

button.facebook svg {
    margin-right: 15px;
}

button.facebook span {
    font-weight: 500;
}

/* end facebook button */

/* twitter button */

button.twitter {
    background-color: #0f9afb;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: #0f9afb 0px 2px 2px 0px, #0f9afb 0px 0px 1px 0px;
    padding: 12px 10px;
    border-radius: 9999px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

button.twitter:hover {
    box-shadow: #0f9afb 0px 2px 2px 0px, #0f9afb 0px 0px 6px 0px;
}

button.twitter svg {
    margin-right: 15px;
}

button.twitter span {
    font-weight: 500;
}

/* end twitter button */

button.twitter:hover, button.google:hover, button.facebook:hover {
    cursor: pointer;
}