div.sign-in-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: var(--text);
}

div.sign-in-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 768px) {
    div.sign-in-container h1 {
        font-size: 32px;
    }

    div.sign-in-container span.switch {
        font-size: 16px;
    }
}

div.sign_btns {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

div.sign_btns > * {
    margin: 8px 0;
}

div.sign_btns > *:hover {
    transform: scale(1.02);
}

div.sign-in-container span.switch {
    margin: 8px 0 15px 0;
    color: rgb(26, 26, 26);
    padding: 8px;
    font-size: 14px;
}

a {
    color: var(--link);
    text-decoration: none;
}

hr {
    background-color: var(--separator_color);
    border: none;
    height: 1px;
    width: 100%;
}

span.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.6s ease;
    animation: bubble 1.5s ease-in-out infinite;
}

@keyframes bubble {
    0%, 100% {
        transform: scale(0.7);
        background-color: var(--sec-blue);
    }
    40% {
        transform: scale(1);
        transform: translateY(-10px);
    }
    50% {
        background-color: var(--prim-blue);
    }
}

div.dots {
    margin: 0 auto;
    width: min-content;
    display: flex;
}

div.loader {
    margin: auto;
}

span.loader-text {
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 30px;
    display: inline-block;
}

span.blue {
    color: var(--prim-blue);
}

svg.chat_logo {
    fill: var(--text);
    width: 30px;
    margin-right: 10px;
}

header.booptext {
    display: flex;
    align-items: center;
}

header.booptext h1 {
    margin: 0;
}