h1 {
    font-family: 'Monserrat', sans-serif;
    font-size: 24px;
    color: var(--text);
}

div.sign-in-container {
    background: var(--bg);
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    width: 65%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.22);
    border-radius: .5rem;
}

div.sign_btns {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

div.sign_btns > * {
    margin: 5px 0;
}

div.sign-in-container span.switch {
    margin: 8px 0 15px 0;
    color: rgb(26, 26, 26);
    padding: 8px;
    font-size: 14px;
}

a {
    color: var(--link);
    text-decoration: none;
}

hr {
    background-color: var(--bg);
    border: none;
    height: 1px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    div.sign-in-container {
        width: 50%;
    }

    h1 {
        font-size: 32px;
    }

    div.sign-in-container span.switch {
        font-size: 16px;
    }
}

span.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.6s ease;
    animation: bubble 1.5s ease-in-out infinite;
}

@keyframes bubble {
    0%, 100% {
        transform: scale(0.7);
        background-color: var(--sec-blue);
    }
    40% {
        transform: scale(1);
        transform: translateY(-10px);
    }
    50% {
        background-color: var(--prim-blue);
    }
}

div.dots {
    margin: 0 auto;
    width: min-content;
    display: flex;
}

div.loader {
    margin: auto;
}

span.loader-text {
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
    margin: 30px;
    display: inline-block;
}