#main_panel {
    padding: 10px;
    margin: auto 0 auto 10px;
    width: 40%;
    height: 90vh;
    background-color: white;
    border-right: #60686d 2px solid;
}

div.container {
    display: flex;
    flex-direction: row;
}

#chat_panel {
    height: 90vh;
    width: 54%;
    margin: auto 0px;
    background-color: white;
}

ul.chat_section {
    list-style: none;
    margin: 50px auto;
    overflow-y: scroll;
    height: 75%;
}

li.message {
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

li.message.friend_message {
    color: #808080;
}

li.message.author_message {
    color: #60686d;
    justify-content: flex-end;
}

/* friend and time info */

li.message .info {
    width: 10%;
}

li.message.friend_message .info {
    text-align: right;
}

li.message.author_message .info {
    order: 3;
}

li.message .info span.user { /* friend name */
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

li.message .info span.time { /* Time */
    font-size: 11px;
    color: #9ca7af;
}

/* The friend avatar */

li.message .avatar {
    width: 8%;
}

li.message.friend_message .avatar {
    padding: 10px 18px 0 3px;
}

li.message.author_message .avatar {
    order: 2;
    padding: 10px 3px 0 18px;
}

li.message .avatar img {
    display: block;
    border-radius: 50%;
}

li.message.friend_message .avatar img {
    float: right;
}

/* The message text */

li.message p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
    background-color: #76fdf5;
    font-size: 12px;
}

li.message.friend_message p {
    background-color: #f3f3f3;
}

li.message.author_message p {
    order: 1;
}

li.friend_message p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

li.author_message p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}

div.interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.interactions input {
    padding: 8px;
    width: 85%;
    outline: none;
}

div.interactions button {
    border: none;
    color: white;
    background-color:rgb(64, 108, 255);
    padding: 6px;
    width: 15%;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

div.interactions button:hover {
    cursor: pointer;
}

div.chat_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header.chat_title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: rgb(64, 108, 255);
    text-align: center;
}

div.contact_item, div.chat_item {
    background-color: white;
    padding: 30px 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.contact_item:hover, div.chat_item:hover {
    cursor: pointer;
    background-color: rgb(169, 216, 255);
    color: white;
}

div.chat_item {
    padding: 34px 18px;
}

div.contact_item img, div.chat_item img, ul.add_participants img {
    border-radius: 50%;
    height: 35px;
    width: auto;
}

div.contact_item span {
    font-weight: bold;
    padding-left: 20px;
}

div.status {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 15px;
}

div.img_and_name {
    display: flex;
    align-items: center;
}

div.status_online {
    background-color: #62b93c;
}

div.status_away {
    background-color: #f7e01b;
}

div.status_dnd {
    background-color: #f71a30;
}

div.status_offline {
    border: #dfdfdf solid 2px;
}

div#contacts, div#chats {
    overflow-y: scroll;
    max-height: inherit;
}

div#contact_container, div#chat_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.main_panel_header {
    display: flex;
    justify-content: space-between;
}

button.options {
    border: none;
    background-color: inherit;
}

button.options:hover {
    cursor: pointer;
}

button.options > img {
    width: 35px;
}

input.addContact {
    padding: 10px 5px;
    border: none;
    border-top: 1px solid #60686d;
    outline: none;
}

button.addContact {
    padding: 10px;
    color: white;
    background-color:rgb(64, 108, 255);
    border: none;
}

button.addContact:hover {
    cursor: pointer;
    background-color:rgb(17, 71, 248);
}

div.name_and_msg, div.time_and_badge {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

div.time_and_badge {
    align-items: flex-end;
}

div.time_and_badge span {
    font-size: 14px;
}

span.chat_name {
    font-weight: bold;
}

span.chat_msg {
    color:#808080;
    font-size: 12px;
}

div.unread {
    background-color: #62b93c;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    margin-top: 5px;
    padding: 4px;
    min-width: 24px;
}

div.setting_item {
    display: flex;
    justify-content: space-between;
    color: rgb(20, 20, 20);
    margin-top: 40px;
}

span.attribute {
    font-weight: 900;
    display: block;
}

button.edit {
    border: none;
    background-color: inherit;
    align-self: flex-end;
}

button.edit:hover {
    cursor: pointer;
}

div.setting_item input {
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

div.setting_item input:focus {
    outline:rgb(19, 119, 233) 2px solid;
    border:none;
}

div.setting_item img.profile_img {
    border-radius: 50%;
    height: 55px;
    width: auto;
    margin-top: 20px;
}

ul.add_participants li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

div.MuiPaper-root {
    max-width: 600px;
    min-width: 320px;
}