* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.light {
  --bg: var(--gray0);
  --bg-2: var(--gray1);
  --bg-3: var(--white);
  --panel: var(--gray5);
  --white: var(--blank);
  --text: var(--gray4);
  --text-fade: var(--gray2);
  --prim-blue: var(--brandeis-blue);
  --sec-blue: var(--sky-of-magritte);
  --text-hover: var(--blank);
  --light-text: var(--blank);
  --light-text-hover: var(--gray1);
  --filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(257deg) brightness(82%) contrast(115%);
  --border: var(--gray1);
  --border-hover: var(--gray2);
  --prim-red: var(--red);
  --sec-red: var(--fire-opal);
  --input: var(--blank);
  --shadow: rgba(218, 216, 216, 0.25);
  --author-border: var(--brandeis-blue);
  --action-button-hover: var(--offline);
  --icon: var(--brandeis-blue);
}

.dark {
  --bg: var(--gray2);
  --bg-2: var(--gray4);
  --bg-3: var(--gray4);
  --panel: var(--gray5);
  --white: var(--blank);
  --text: var(--blank);
  --text-fade: var(--gray1);
  --prim-blue: var(--brandeis-blue);
  --sec-blue: var(--pacific-bridge);
  --text-hover: var(--blank);
  --light-text: var(--blank);
  --light-text-hover: var(--gray1);
  --filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
  --border: var(--gray5);
  --border-hover: var(--gray2);
  --prim-red: var(--red);
  --sec-red: var(--albanian-red);
  --input: var(--gray5);
  --shadow: rgba(0, 0, 0, 0.25);
  --author-border: var(--gray5);
  --action-button-hover: var(--gray2);
  --icon: var(--blank);
}

:root {
  --gray0: #f7f7f7;
  --gray1: #b2becd;
  --gray2: #4d4d4e;
  --gray4: #303030; 
  --gray5: #050505;
  --sky-of-magritte: #0099ff;
  --brandeis-blue: #0066ec;
  --pacific-bridge: #0052ce;
  --online: #62b93c;
  --away: #f7e01b;
  --dnd: #f71a30;
  --red: rgb(255, 0, 0);
  --albanian-red: rgb(204, 1, 1);
  --fire-opal: rgb(255, 62, 4);
  --offline: #dfdfdf;
  --blank:#fff;
  --raven_coat: rgba(2, 2, 5, 0.9);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.container {
  width: 100%;
  height: 100%;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img {
  overflow-x: hidden;
}

/*
=======================
App
=======================
*/
#root {
  height: 100vh;
}

.App {
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.App:after {
    z-index: -1;
    content: "";
    position: absolute;
    display: inline-block;
    background-image: url('../assets/bg.png');
    opacity: .85;
    background-repeat: no-repeat;
    background-size:cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 900px) {
  .App {
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  #root {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}
